<template>
  <div>
    <PageHeader first="系统管理" second="课程管理" />

    <SearchBar :items="searchLayout" ref="searchBar">
      <Button type="primary" @click="handleSearch">查询</Button>
      <Button @click="handleAdd" style="margin-left: 15px">新增课程</Button>
    </SearchBar>

    <BaseTable
      :columns="mainTable.columns"
      :dataSource="mainTable.data"
      :loading="mainTable.loading"
      :pagination="mainTable.pagination"
      @change="this.handleTableChange"
    >
      <span slot="courseIntro" slot-scope="text, record">
        <a @click="viewIntro(record)">查看</a>
      </span>
      <span slot="action" slot-scope="text, record">
        <a @click="handleEdit(record)">修改</a>
        <Divider type="vertical" />
        <a @click="handleDel(record)">删除</a>
      </span>
    </BaseTable>

    <Modal v-model="introModal.visible" title="课程介绍" :footer="null">
      <p>{{ introModal.text }}</p>
    </Modal>

    <ActionModal
      :visible="actionModal.visible"
      :loading="actionModal.loading"
      :dataSource="actionModal.dataSource"
      @close="actionModal.visible = false"
      @submit="handleAction"
    />
  </div>
</template>

<script>
import {
  apiGetCourseList,
  apiGetTeacherList,
  apiDelCourse,
  apiAddCourse,
  apiEditCourse
} from '@/api/admin'
import { searchLayout, columns } from './constant'
import { searchMixin } from '@/utils/mixins/search.mixin.js'
import { ActionModal } from './components/ActionModal'

export default {
  mixins: [searchMixin],

  components: { ActionModal },

  data() {
    return {
      searchLayout,

      mainTable: {
        data: [],
        columns
      },

      teacherList: [],

      introModal: {
        visible: false,
        text: ''
      },

      actionModal: {
        visible: false,
        loading: false,
        dataSource: {}
      }
    }
  },

  methods: {
    // 查看课程介绍
    viewIntro({ courseIntro }) {
      this.introModal.visible = true
      this.introModal.text = courseIntro
    },

    // 新增课程按钮
    handleAdd() {
      this.actionModal.dataSource = {
        teacherList: this.teacherList
      }
      this.actionModal.visible = true
    },

    // 修改课程按钮
    handleEdit(record) {
      this.actionModal.dataSource = {
        ...record,
        teacherList: this.teacherList
      }
      this.actionModal.visible = true
    },

    // 处理表单
    handleAction({ form, data }) {
      const { id, courseName, teacherId, courseIntro } = data
      const params = {
        courseName,
        teacherId,
        courseIntro
      }
      let actionApi
      let text
      if (id) {
        actionApi = apiEditCourse
        text = '修改'
        params.id = id
      } else {
        actionApi = apiAddCourse
        text = '新增'
      }

      this.$confirm({
        title: courseName,
        content: `确认${text}该课程?`,
        onOk: async () => {
          this.actionModal.loading = true
          const { success, msg } = await actionApi(params)

          if (success) {
            this.actionModal.visible = false
            form.resetFields()
            this.$message.success(msg)
            this.getList()
          } else {
            this.$message.error(msg)
          }

          this.actionModal.loading = false
        }
      })
    },

    // 删除课程
    handleDel({ id, courseName }) {
      this.$confirm({
        title: courseName,
        content: '是否删除该课程?',
        okType: 'danger',
        onOk: async () => {
          const params = { id }

          const { success, msg } = await apiDelCourse(params)
          if (success) {
            this.$message.success(msg)
            this.getList()
          } else {
            this.$message.error(msg)
          }
        }
      })
    },

    async getList() {
      this.mainTable.loading = true

      const { searchInfo } = this
      searchInfo.page = this.mainTable.pagination.current

      const {
        success,
        data: { total, page, list },
        msg
      } = await apiGetCourseList(searchInfo)

      if (success) {
        this.mainTable.data = list
        this.mainTable.pagination.current = page
        this.mainTable.pagination.total = total
        this.mainTable.loading = false
      } else {
        this.$message.error(msg)
      }
    },

    async getTeacherList() {
      const {
        success,
        data: { list },
        msg
      } = await apiGetTeacherList()

      if (success) {
        const formatList = list.map(({ id, name }) => {
          return { label: name, value: id }
        })

        this.teacherList = [...formatList]
      } else {
        this.$message.error(msg)
      }
    }
  },

  created() {
    this.getTeacherList()
    this.getList()
  }
}
</script>
