<template>
  <div class="login-layout-main">
    <Form :form="form" @submit="handleSubmit">
      <FormItem label="现密码">
        <InputPassword
          size="large"
          type="text"
          v-decorator="[
            'password',
            {
              rules: [{ required: true, message: '请输入现密码' }],
              validateTrigger: 'change'
            }
          ]"
        ></InputPassword>
      </FormItem>

      <FormItem label="新密码">
        <InputPassword
          size="large"
          placeholder="8-16位字母或数字"
          v-decorator="[
            'newPassword',
            {
              rules: [
                { required: true, message: '请输入密码' },
                { validator: pwdValidator }
              ],
              validateTrigger: 'blur'
            }
          ]"
        ></InputPassword>
      </FormItem>

      <FormItem style="margin-top:24px">
        <Button
          size="large"
          type="primary"
          htmlType="submit"
          class="login-layout-main-login-btn"
          :loading="loading"
          :disabled="loading"
        >
          提交修改
        </Button>
      </FormItem>
    </Form>
  </div>
</template>

<script>
import { pwdValidator } from '@/utils/validator'
import { apiResetPwd } from '@/api/user'
import { Storage } from '@/utils/storage'

export default {
  data() {
    return {
      form: this.$form.createForm(this),

      pwdValidator,

      loading: false
    }
  },

  methods: {
    handleSubmit(e) {
      e.preventDefault()
      this.form.validateFields(async (err, values) => {
        if (!err) {
          this.loading = true

          const params = {
            ...values
          }

          const { success, msg } = await apiResetPwd(params)
          this.loading = false

          if (success) {
            Storage.remove('_user')

            const redirect = () =>
              this.$router.replace({ path: '/account/login' })

            const timeout = setTimeout(() => {
              redirect()
              modal.destroy()
            }, 3000)

            const modal = this.$success({
              title: '修改成功',
              content: '3秒后返回登录页',
              okText: '直接跳转',
              onOk: () => {
                clearTimeout(timeout)
                redirect()
              }
            })
          } else {
            this.$message.error(msg)
          }
        }
      })
    }
  }
}
</script>
