<template>
  <div>
    <PageHeader first="教师" second="课程管理" />

    <SearchBar :items="searchLayout" ref="searchBar">
      <Button type="primary" @click="handleSearch">查询</Button>
    </SearchBar>

    <BaseTable
      :columns="mainTable.columns"
      :dataSource="mainTable.data"
      :loading="mainTable.loading"
      :pagination="mainTable.pagination"
      @change="this.handleTableChange"
    >
      <span slot="action" slot-scope="text, record">
        <a @click="handleAction(record)">
          评分
        </a>
      </span>
    </BaseTable>

    <ActionModal
      :visible="actionModal.visible"
      :loading="actionModal.loading"
      :dataSource="actionModal.dataSource"
      @close="actionModal.visible = false"
      @submit="handleSubmit"
    />
  </div>
</template>

<script>
import {
  apiGetCourseList,
  apiGetRecordList,
  apiSubmitScore
} from '@/api/teacher'
import { searchLayout, columns } from './constant'
import { searchMixin } from '@/utils/mixins/search.mixin.js'
import { ActionModal } from './components/ActionModal'

export default {
  mixins: [searchMixin],

  components: { ActionModal },

  data() {
    return {
      searchLayout,

      mainTable: {
        data: [],
        columns
      },

      actionModal: {
        visible: false,
        loading: false,
        dataSource: {}
      }
    }
  },

  methods: {
    // 评分
    handleAction(record) {
      this.actionModal.dataSource = record
      this.actionModal.visible = true
    },

    // 表单处理
    handleSubmit({ form, params }) {
      this.$confirm({
        title: '确认提交评分？',
        onOk: async () => {
          this.actionModal.loading = true
          const { success, msg } = await apiSubmitScore(params)

          if (success) {
            this.actionModal.visible = false
            form.resetFields()
            this.$message.success(msg)
            this.getList()
          } else {
            this.$message.error(msg)
          }

          this.actionModal.loading = false
        }
      })
    },

    // 获取课程列表
    async getCourseList() {
      const { success, data, msg } = await apiGetCourseList()

      if (success) {
        const list = data.map(({ id, courseName }) => {
          return { label: courseName, value: id }
        })

        this.searchLayout[0][0].options = [
          { label: '全部', value: '' },
          ...list
        ]
      } else {
        this.$message.error(msg)
      }
    },

    // 获取记录
    async getList() {
      this.mainTable.loading = true

      const { searchInfo } = this
      searchInfo.page = this.mainTable.pagination.current

      const {
        success,
        data: { total, page, list }
      } = await apiGetRecordList(searchInfo)

      if (success) {
        this.mainTable.data = list
        this.mainTable.pagination.current = page
        this.mainTable.pagination.total = total
        this.mainTable.loading = false
      }
    }
  },

  created() {
    this.getCourseList()
    this.getList()
  }
}
</script>
