<template>
  <LayoutSider>
    <div class="global-layout-sider-title">学生管理系统</div>
    <Menu
      theme="dark"
      mode="inline"
      @click="handleClick"
      :selectedKeys="selectedKeys"
    >
      <MenuItem key="/home">首页</MenuItem>
      <SubMenu v-for="(submenu, index) in menu" :key="index">
        <span slot="title">{{ submenu.title }}</span>
        <MenuItem v-for="child in submenu.children" :key="child.path">
          {{ child.title }}
        </MenuItem>
      </SubMenu>
    </Menu>
  </LayoutSider>
</template>

<script>
import { apiGetMenu } from '@/api/user'

export default {
  data() {
    return {
      menu: [],

      selectedKeys: ['/']
    }
  },

  watch: {
    $route(to) {
      const { path } = to

      this.selectedKeys = [path]
    }
  },

  methods: {
    handleClick(e) {
      this.$router.push({ path: e.key })
    }
  },

  async created() {
    const { data } = await apiGetMenu()
    this.menu = data

    const { path } = this.$route
    this.selectedKeys = [path]
  }
}
</script>

<style lang="scss">
.global-layout-sider-title {
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  font-size: 20px;
}
</style>
