<template>
  <Layout style="height: 100%">
    <GlobalSider />

    <Layout>
      <GlobalHeader />

      <LayoutContent class="global-layout-content">
        <router-view />
      </LayoutContent>
    </Layout>
  </Layout>
</template>

<script>
import GlobalSider from './GlobalSider'
import GlobalHeader from './GlobalHeader'

export default {
  components: { GlobalSider, GlobalHeader }
}
</script>

<style lang="scss">
.global-layout-content {
  margin: 24px 16px;
  padding: 24px;
  background: #fff;
  min-height: 90%;
}
</style>
