<template>
  <div class="login-layout">
    <div class="login-layout-container">
      <div class="login-layout-header">学生管理系统</div>
      <router-view />
    </div>
  </div>
</template>

<style lang="scss">
.login-layout {
  height: 100%;

  &-container {
    width: 100%;
    min-height: 100%;
    background: #f0f2f5 url('../../assets/background.svg') no-repeat 50%;
    background-size: 100%;
    padding: 160px 0 144px;
    position: relative;
  }

  &-header {
    font-size: 33px;
    color: rgba(0, 0, 0, 0.85);
    text-align: center;
    margin-bottom: 40px;
  }

  &-main {
    min-width: 260px;
    width: 368px;
    margin: 0 auto;

    &-login-btn {
      padding: 0 15px;
      font-size: 16px;
      height: 40px;
      width: 100%;
    }
  }
}
</style>
