<template>
  <div>
    <PageHeader first="学生" second="选课管理" />

    <SearchBar :items="searchLayout" ref="searchBar">
      <Button type="primary" @click="handleSearch">查询</Button>
    </SearchBar>

    <BaseTable
      :columns="mainTable.columns"
      :dataSource="mainTable.data"
      :loading="mainTable.loading"
      :pagination="mainTable.pagination"
      @change="this.handleTableChange"
    >
      <span slot="action" slot-scope="text, record">
        <a @click="showCourseIntro(record.courseIntro)">课程介绍</a>
        <Divider type="vertical" />
        <a @click="handleSelect(record)">
          {{ record.isSelected ? '取消' : '选课' }}
        </a>
      </span>
    </BaseTable>

    <Modal v-model="introModal.visible" title="课程介绍" :footer="null">
      <p>{{ introModal.text }}</p>
    </Modal>
  </div>
</template>

<script>
import { apiGetCourseList, apiChangeCourseStatus } from '@/api/student'
import { searchLayout, dataHelper, columns } from './constant'
import { searchMixin } from '@/utils/mixins/search.mixin.js'

export default {
  mixins: [searchMixin],

  data() {
    return {
      searchLayout,

      mainTable: {
        data: [],
        columns
      },

      introModal: {
        visible: false,
        text: ''
      }
    }
  },

  methods: {
    // 课程介绍modal
    showCourseIntro(intro) {
      this.introModal.text = intro
      this.introModal.visible = true
    },

    // 选课/取消选课
    handleSelect({ id, isSelected, courseName }) {
      const map = {
        0: '选择',
        1: '取消选择'
      }

      this.$confirm({
        title: courseName,
        content: `是否${map[isSelected]}该课程？`,
        onOk: async () => {
          const params = {
            id,
            action: isSelected ? 0 : 1
          }
          const { success, msg } = await apiChangeCourseStatus(params)

          if (success) {
            this.$message.success(msg)
            this.getList()
          } else {
            this.$message.error(msg)
          }
        }
      })
    },

    async getList() {
      this.mainTable.loading = true

      const { searchInfo } = this
      searchInfo.page = this.mainTable.pagination.current

      const {
        success,
        data: { total, page, list },
        msg
      } = await apiGetCourseList(searchInfo)

      if (success) {
        this.mainTable.data = dataHelper(list)
        this.mainTable.pagination.current = page
        this.mainTable.pagination.total = total
        this.mainTable.loading = false
      } else {
        this.$message.error(msg)
      }
    }
  },

  created() {
    this.getList()
  }
}
</script>
