<template>
  <div class="login-layout-main">
    <Form :form="form" @submit="handleSubmit">
      <FormItem>
        <Input
          size="large"
          type="text"
          placeholder="工号/学号"
          v-decorator="[
            'username',
            {
              rules: [{ required: true, message: '请输入工号或学号' }],
              validateTrigger: 'change'
            }
          ]"
        >
          <Icon
            slot="prefix"
            type="user"
            :style="{ color: 'rgba(0,0,0,.25)' }"
          />
        </Input>
      </FormItem>

      <FormItem>
        <InputPassword
          size="large"
          placeholder="初始密码与帐号相同"
          v-decorator="[
            'password',
            {
              rules: [{ required: true, message: '请输入密码' }],
              validateTrigger: 'blur'
            }
          ]"
        >
          <Icon
            slot="prefix"
            type="lock"
            :style="{ color: 'rgba(0,0,0,.25)' }"
          />
        </InputPassword>
      </FormItem>

      <FormItem style="margin-top:24px">
        <Button
          size="large"
          type="primary"
          htmlType="submit"
          class="login-layout-main-login-btn"
          :loading="loading"
          :disabled="loading"
        >
          确定
        </Button>
      </FormItem>
    </Form>
  </div>
</template>

<script>
import { apiLogin } from '@/api/user'
import { Storage } from '@/utils/storage'

export default {
  data() {
    return {
      form: this.$form.createForm(this),

      loading: false
    }
  },

  methods: {
    handleSubmit(e) {
      e.preventDefault()
      this.form.validateFields(async (err, values) => {
        if (!err) {
          this.loading = true

          const params = {
            ...values
          }

          const { success, msg, data } = await apiLogin(params)
          this.loading = false

          if (success) {
            Storage.set('_user', data)
            this.$router.replace({ path: '/' })
          } else {
            this.$message.error(msg)
          }
        }
      })
    }
  }
}
</script>
