<template>
  <div>
    <PageHeader first="个人中心" second="个人信息" />

    <Button type="primary" @click="handleEdit">修改信息</Button>

    <Descriptions bordered style="margin-top:20px;">
      <DescriptionsItem
        v-for="item in layout"
        :key="item.label"
        :label="item.label"
      >
        {{ item.value }}
      </DescriptionsItem>
    </Descriptions>

    <EditModal
      :visible="editModal.visible"
      :loading="editModal.loading"
      :dataSource="editModal.dataSource"
      @close="editModal.visible = false"
      @submit="handleSubmit"
    />
  </div>
</template>

<script>
import { apiGetPersonalInfo, apiEditPersonalInfo } from '@/api/user'
import { USER_TYPE } from '@/utils/constant'
import { EditModal } from './components/EditModal'

export default {
  components: { EditModal },

  data() {
    return {
      dataSource: {},

      layout: [],

      editModal: {
        visible: false,
        loading: false,
        dataSource: {}
      }
    }
  },

  methods: {
    // 修改信息按钮
    handleEdit() {
      this.editModal.dataSource = this.dataSource
      this.editModal.visible = true
    },

    // 修改信息
    handleSubmit({ form, data }) {
      this.$confirm({
        title: '提示',
        content: '确认修改信息?',
        onOk: async () => {
          this.editModal.loading = true

          const { success, msg } = await apiEditPersonalInfo(data)
          if (success) {
            this.$message.success(msg)
            this.getInfo()
            form.resetFields()
            this.editModal.visible = false
          } else {
            this.$message.error(msg)
          }

          this.editModal.loading = false
        }
      })
    },

    handleLayout(data) {
      const { userType } = data
      const numberLabel = {
        [USER_TYPE.TEACHER]: '工号',
        [USER_TYPE.STUDENT]: '学号'
      }

      const layout = [
        { label: '姓名', value: data.name },
        { label: '性别', value: data.sex },
        { label: numberLabel[userType], value: data.number },
        { label: '联系电话', value: data.phone }
      ]

      if (userType === USER_TYPE.TEACHER) {
        layout.push({ label: '职称', value: data.rank })
      }

      this.layout = layout
    },

    async getInfo() {
      const { success, data } = await apiGetPersonalInfo()

      if (success) {
        this.dataSource = data
        this.handleLayout(data)
      }
    }
  },

  created() {
    this.getInfo()
  }
}
</script>
