<template>
  <div id="app">
    <ConfigProvider :locale="zh_CN">
      <router-view></router-view>
    </ConfigProvider>
  </div>
</template>

<script>
import zh_CN from 'ant-design-vue/lib/locale-provider/zh_CN'

export default {
  data() {
    return {
      zh_CN
    }
  }
}
</script>

<style lang="scss">
#app {
  height: 100%;
}
</style>
